<div id="expense-card" class="color" data-category="{{expenseCategory}}">
    <div class="item-cate">
        {{expenseCategory}}
    </div>
    <div class="item-cate">
        ${{expenseAmount}}
    </div>
    <button class="delete-expense" data-id="{{_id}}">x</button>
</div>
