body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* margin-left: 25px; */
    overflow-x: hidden;
}

/* Enable vertical scroll on small screens */
@media screen and (max-width: 768px), screen and (max-height: 600px) { /* Adjust the values as needed */
    body {
        overflow-y: scroll;
        overflow-x: scroll;
    }
    a{
        font-size: small;
    }
}

.allow-scroll {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 55px;
    border-radius: 35px;
    background-color: #7ab9ee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    outline: black solid 1px;
}

i
{
    text-decoration: none;
    color: red;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 100%;
}

header a {
    color: black;
}

header img {
    width: 150px;
    height: 150px;
    margin: 0 20px;
}

.site-title {
    font-family: 'Titan One', sans-serif;
    font-size: 80px;
    font-weight: 100;
    margin: 0 0 0 20px;
    padding-top: 30px;
}

.expense-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 629px;
    font-weight: bold;
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    display: flex;
}

.get-total {
    /* Add padding around it */
    padding: 10px;
}

.new-expense-boxes {
    padding: 10px;
}

.error-container {
    font-family: "Roboto Slab", serif;
    text-align: center;
}

.allExpense-title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 10px;
}

.expenseWpage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: block;
    border: 1px solid black;
    width: 600px;
    border-radius: 1.5%;
}

.expense-cate-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cateitem {
    display: inline-block;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    flex: 1;
    text-align: center;
}

#expense-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

.home-button
{
    position: relative;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    margin: 15px;
}


#border1
{
    border-top: 1px solid black;
}

.item-cate {
    font-size: large;
    display: inline-block;
    margin: 15px;
    padding-left: 20px;
    flex: 1;
    text-align: center;
}

.delete-expense {
    border: none;
    padding-right: 15px;
}

.delete-expense:hover {
    cursor: pointer;
}

@media(max-width: 680px) {
    .cateitem {
        font-size: 20px;
        margin: 0;
    }

    .item-cate {
        display: inline-block;
        margin: 10px;
        padding-right: 20px;
    }
}

.hidden {
    display: none;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#add-expense-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

#setting-budget {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.adding-layout
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button
{
    background-color: #1A82Fe;
    border: 1px solid #1A82Fe;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

#post-budget-input, #post-price-input, #category-dropdown
{
    display: inline;
    background-color: rgb(234, 234, 234);
}

#modal-accept-budget
{
    margin-right: 12px;
}

#modal-accept-budget:hover {
    cursor: pointer;
}


.modal-dialog {
    width: auto;
    max-width: 400px;
    min-width: 350px;
    min-height: 250px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
    text-align: center;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}

#modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

#modal-closeb {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.post-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;

}

.boxdrop {
    height: 40px;
    width: 300px;
}

.required
{
    margin-left: 20px;
}

.post-input-element>label {
    font-weight: 600;
    margin-right: 10px;
}

.post-input-element input {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}

.post-fieldset {
    flex: 1 100%;
    border: 1px solid #ababab;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

#modal-accept {
    margin-right: 20px;
}

#modal-accept:hover {
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

#add-expense-button,
#set-budget {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-weight: bold;
    font-size: 18px;
}

#add-expense-button {
    top: 619px;
    /* Adjust the value as needed */
    left: calc(50% + 155px);
}

#set-budget {
    top: 619px;
    /* Adjust the value as needed */
    left: calc(50% - 350px);
}

#set-budget:hover, #add-expense-button:hover {
    cursor: pointer;

}

/* Adjust the position of the budget-display */
.budget-display {
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 7px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
}

.budget-display-opposite {
    position: absolute;
    top: 50%; /* Center vertically */
    right: 50%; /* Center horizontally */
    transform: translate(50%, -50%);
    border: 2px solid black;
    padding: 7px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
}

.budget-display, .budget-display-opposite {
/*    round corners*/
    border-radius: 10px;
}


.total-section {
    position: relative;
    right: 247px;
    top: 385px;
}

.total-section-opposite {
    position: relative;
    left: 265px;
    top: 385px;
}


.get-total {
    display: inline;
}

.piechart {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-image: conic-gradient(pink 70deg, lightblue 0 235deg, orange 0);
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.legend {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 160px;
    transform: translateY(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item::before {
    content: '';
    display: inline-block;
    width: 20px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
    margin-right: 5px;
    border-radius: 50%;
}

.bill-color
{
    background-color:  #e6a532;
}

.food-color
{
    background-color:  #41afaa;
    
}

.ent-color
{
    background-color: #00a0e1;
}

.clothing-color
{
    background-color:  #466eb4;
}

.other-color
{
    background-color: #d7642c;
}
